// minima 2.5.1
// https://github.com/jekyll/minima

// Variables
$spacing-unit: 30px;

$margins: 4;
$sides: left right;

// Colors
$brand-color: #2a7ae2;
$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);
$text-color: #111;
$background-color: #fdfdfd;
$code-background-color: #eef;
$code-background-color-dark: #f8f8f8;

// Width of the content area
$content-width: 800px;

// Fonts
$sans-font-family: "PT Sans", Helvetica, Arial, sans-serif;
$mono-font-family: "PT Mono", "Inconsolata", "Fira Code", monospace;

// Using media queries with like this:
// @include media-query($palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from minima theme
@mixin imports($theme) {
  @import "minima/base";
  @import "minima/layout";
  @import "minima/syntax-highlighting";
}
